gradeProdutos{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 60px;
    margin-top: 2%;
}

main{
    height: 100%;
    display: grid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 50px;
}

.card-produtos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    border: 15px solid transparent;
}

.card-produtos:hover{
    cursor: pointer;
    box-shadow: 2px 2px 11px 2px #5d1917;
}

.img-card{
    width: 100%;
    border-radius: 5px;
}

.preco{
    text-align: end;
    margin-top: auto;

}
.veg{
    color: green;
    text-align: justify;
}

.botao{
    padding: 8px;
    width: 100%;
    background-color: fff;
    border-radius: 5px;
    color: #5d1917;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #5d1917;
}
.botao:hover{
    background: #5d1917;
    color: #fff;
    cursor: pointer;
}

@media screen and (min-device-width : 360px) and (max-device-width : 480px){
    .produtos{
        grid-template-areas: none;
        grid-template-columns: 1fr;
        
    }
}